/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body {
  font-family: system-ui
}

.hero > img{
  padding: 1rem;
}

.blogger-info .blogger .avatar {
    height: auto !important;
}
